{% extends 'index.html' %}
{% load static %}
<title>{% block title %}Parolni almashtirish{% endblock %}</title>
{% block content %}
    <div class="col-8 justify-content-center">
        
    </div>
    <section class="whats-news-area pt-50 pb-20 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 text-center">
                    <h2 class="text-center">Kalit so'zni almashtirish</h2>
                    <form action="" method="post" class="col-12">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="old_password" class="form-control" autocomplete="current-password" required="" id="id_old_password" placeholder="Eski kalit so'z">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" placeholder="Yangi kalit so'z">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Yangi kalit so'zni tasdiqlash">
                        </div>
                        <button type="submit" class="btn rounded btn-primary">Almashtirish</button>
                    </form>
                </div>
                <div class="col-lg-4">
                    <!-- Flow Socail -->
                    <div class="single-follow mb-45">
                        <div class="single-box">
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'images/news/icon-fb.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">  
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div> 
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'images/news/icon-tw.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'images/news/icon-ins.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'images/news/icon-yo.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}