{% extends 'index.html' %}
{% load static %}

{% block title %}Kalit so'zni tiklash{% endblock title %}
{% block content %}
    <h2 class="my-4">Kalit so'zni tiklash</h2>
    {% if validlink %}
        <p>Yangi kalit so'zni kiriting.</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input class="btn btn-outline-success px-5 mt-3" type="submit" value="O'zgartirish">
        </form> 
    {% else %}
        <p>Yaroqsiz linkdan foydalanildi.</p>
    {% endif %}
{% endblock content %}