<!-- translate bar -->

<div class="col-7">
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% get_current_language as LANGUAGE_CODE %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="/">
        <select name="language" onchange="this.form.submit()">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                    {{ language.code|title }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>